<div class="row">
  <div class="col-md-12">
    <div class="alert alert-dismissible alert-success">
      <strong><%= task.title %></strong>
      <%= link_to '', plant_task_path(@plant, task.id), method: :delete, class: 'close glyphicon glyphicon-remove-sign pull-right' %>
      <a href="javascript:void(0)" class="alert-link"></a>
    </div>
  </div>
</div>
