
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="jumbotron">
      <h1>Editing Grow:</h1>
      <h3><%= @grow.title.upcase %></h3>
    </div>
  </div>
</div>

<%= render 'form' %>

