<div class="row" align="center">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1>NEW PICTURE</h1>
      </div>
    </div>
  </div>
</div>


<%= render 'form' %>