<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="jumbotron">
      <h2>PICS: </h2>
      <div class="row">
        <div class="header">
          <%= link_to 'ADD PHOTO', new_pic_path, class: "btn btn-raised btn-success hoverable" %>
          <%= link_to 'BACK', root_path, class: "btn btn-raised btn-default hoverable" %>
        </div>
      </div>
    </div>
  </div>
</div>

